[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pylint = "==2.3.1"

[packages]
tablestore = "==4.6.0"
flask = "==1.0.2"
python-dotenv = "==0.10.1"

[requires]
python_version = "3.7"
